{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12 center-align">
        <h4>Download & Save your YouTube Videos!</h4>
    </div>
</div>
<br><br>
<div class="divider"></div>
<br><br>
<div class="row">
    <form class="col s12 center-align" action="/download_video" method="POST">
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">link</i>
                <input id="url" type="text" name="URL" class="validate" value="{{ URL }}">
                <h4><label for="url">Enter Video URL here</label></h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <select name="resolution">
                    {% for res in resolutions.keys() %}
                    {% if res != None %}
                    <option value="{{ res }}">{{ res }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Select Resolution</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light btn-large pink accent-2" type="submit" name="action">
                    Download
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}